version: '3.9'
services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres_db
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - wbEndpointApp

  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: wb_app
    depends_on:
      - postgres
    environment:
      - NODE_ENV=production
    working_dir: /app
    command: node src/main.js
    restart: unless-stopped
    networks:
      - wbEndpointApp

volumes:
  postgres_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./pgdata

networks:
  wbEndpointApp:
    driver: bridge